/********** Template CSS **********/
:root {
  --primary: #901e78;
  --light: #f0fbfc;
  --dark: #181d38;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 15%;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}
.btn.btn-primary:hover {
  color: #901e78;
  background: #fff;
  border: 1px solid #901e78;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
  .navbar-nav.ms-auto.p-4.p-lg-0 {
    background: #fff;
  }
  .navbar-nav .nav-link {
    color: #00458e;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .dropdown-menu.fade-down {
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
  .navbar {
    padding: 15px;
  }
}

/*** Header carousel ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bannerHome {
    height: 100% !important;
    width: 100%;
    /* margin-top: 130px; */
  }
  .navbar {
    padding: 15px;
  }
  .layout {
    flex-direction: column;
  }
  .line-item {
    width: 100% !important;
  }
  .section-title::after,
  .section-title::before {
    display: none;
  }
  .testimonial-item .img-fluid {
    height: 100% !important;
    width: 100% !important;
  }
  .service-item {
    width: 100% !important;
  }
  .service-item p {
    height: 100% !important;
  }
  .bannerText2 {
    width: 100%;
    padding: 50px;
  }
  .bannerText2 p {
    font-size: 20px;
    color: #06355f;
    font-weight: bold;
    text-align: center;
    line-height: 1;
  }
  .Bannercol {
    width: 100% !important;
  }
  /* .headerGradientBtn.courseBox {
    padding: 10px;
    font-size: 13px;
    width: 100%;
    margin: 0.5rem !important;
    text-align: center;
  } */
  .bannerow.mb-4 {
    margin-bottom: 10px !important;
  }
  iframe {
    width: 100% !important;
  }

  .bannerText {
    width: 100% !important;
    padding: 50px !important;
  }
  .bannerText .row {
    margin-right: 0 !important;
  }
  .bannerText p {
    font-size: 20px !important;
    color: #06355f !important;
    font-weight: bold !important;
    text-align: center !important;
    line-height: 1 !important;
  }

  /* .sliderForm2 {
    display: block !important;
  } */
  .slick-slide img {
    height: 100% !important;
  }
  .enrollDiv {
    margin: 15px;
  }
  a.navbar-brand.d-flex.align-items-center {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }
}
img.img-fluid2 {
  height: 200px !important;
  width: 200px !important;
}
.enrollDiv {
  display: flex;
}
/* .sliderForm {
  display: block;
}
.sliderForm2 {
  display: none;
} */
.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)), url(../src/img/carousel-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

.slider-col{
  background: #000;
  float: left;
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

/*** Service ***/
.service-item {
  background: #f4e9f2;
  transition: 0.5s;
  width: 25%;
}

.service-item p {
  height: 240px;
  overflow: hidden;
}

.service-item:hover {
  margin-top: -10px;
  color: #fff;
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: #fff;
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
}

.service-item:hover .text-primary {
  color: #fff !important;
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
}

/*** Categories & Courses ***/
.category img,
.course-item img {
  transition: 0.5s;
}

.category a:hover img,
.course-item:hover img {
  transform: scale(1.1);
}

/*** Team ***/
.team-item img {
  transition: 0.5s;
  width: 100%;
  /* padding: 15px 15px 10px 15px; */
}

.team-item:hover img {
  transform: scale(1.1);
}

/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

/* @media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 300px;
  }
} */

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

button.slick-next.slick-arrow {
  display: none !important;
}

button.slick-prev.slick-arrow {
  display: none !important;
}

.solid-nav {
  background-color: #901e78;
  transition: background-color 0.2s linear;
}
.fixed-top {
  padding: 0;
}

.solid-nav .nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

.container-fluid.nav-container {
  padding: 20px;
}

.logo-colour {
  display: block;
}
.slick-slide img {
  display: block;
  width: 100%;
  opacity: 0.6;
  background: #000;
  color: #fff;
  height: 800px;
}

.slick-initialized .slick-slide {
  display: block;
  background: #000;
}

iframe {
  width: 350px;
}
.bg-light {
  background-color: #e6ecf4 !important;
  color: #06355f;
}
.bg-light2 {
  background-color: #06355f !important;
}
.testimonial-text p {
  height: 48px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-posts {
  position: relative;
  z-index: 6;
}

.post-masonry {
  margin-bottom: 30px;
  width: 33%;
  height: fit-content;
}

.post-masonry .post-thumb {
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
}

.post-masonry .post-thumb img {
  width: 100%;
  display: block;
}

.post-masonry .post-thumb .title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px 20px;
}

.post-masonry .post-thumb .title-over h4 {
  font-size: 16px;
  font-family: "robotoregular";
}

.post-masonry .post-thumb .title-over a {
  color: #fff;
}

.post-masonry .post-thumb .post-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-masonry .post-thumb .post-hover h4 {
  font-size: 16px;
  font-family: "robotoregular";
  margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
  color: #fff !important;
}

.post-masonry .post-thumb .post-hover i {
  display: block;
  margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
  font-size: 12px;
}

.post-masonry .post-thumb .post-hover span {
  font-size: 12px;
  margin-bottom: 15px;
  display: block;
}

.post-masonry .post-thumb:hover .title-over {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
  top: 0;
  visibility: visible;
  opacity: 1;
}

.blog-masonry.masonry-true {
  display: flex;
  flex-wrap: wrap;
}

/* .testimonial-item .img-fluid {
  height: 120px;
  width: 200px !important;
} */
.position-relative.overflow-hidden {
  display: flex;
  justify-content: center;
}
/*  */

nav {
  background: #fff;
}
nav a {
  color: #fff;
}
.call-img {
  animation: shake 3s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  width: 20px;
  padding-right: 10px;
  animation-iteration-count: infinite;
}
#call-img {
  width: 25px;
  padding-right: 10px;
}
.call-gradient-btn {
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 20px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}
.headerGradientBtn {
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 600;
  width: fit-content;
  color: #fff;
  align-items: center;
  position: relative;
  margin-top: 3rem;
}
.headerGradient {
  background: #fff;
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: -12%;
  width: 91%;
}
.headerGradientBtn ul {
  list-style: none;
  margin-top: 3rem;
  height: 200px;
  overflow: hidden;
}
.headerGradientBtn ul li:before {
  content: "\f0a4";
  font-family: "FontAwesome";
  color: #fff;
  /* font-size: 20px; */
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-left: -30px;
}
.headerGradientFooter {
  display: flex;
  background: #fff;
}
.headerGradientFooter button {
  background: #fff;
  border: 0;
  padding: 5px 10px;
}
.text-gradient {
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.enquireForm {
  background: #fff;
  height: fit-content;
  text-align: center;
}
/* .sliderForm {
  background-image: linear-gradient(
      rgb(255 252 255 / 50%),
      rgb(255 252 255 / 44%)
    ),
    url(../img/banner.mp4);
  background-position: center;
  background-size: cover;
  height: unset;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
} */
.bannerText h1 {
  color: #06355f;
  font-weight: bold;
  text-align: left;
  margin-bottom: 4rem;
}
.bannerText .row {
  margin-right: 30px;
}
.gradient-border {
  border: 2px solid transparent; /* Set a transparent border to ensure border-image is visible */
  border-image: linear-gradient(90deg, #901e78 0%, #06355f 100%) 1; /* 1 is the slice value */
}
.bannerHome {
  width: 100%;
  height: 85vh;
  overflow: hidden; /* Optional: hides any overflow from the video */
}
.bannerHome video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjusts the video to cover the area */
}
/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #06355f;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #06355f !important;
}
.tab button:hover {
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
  border: 1px solid #06355f;
  color: #fff !important;
}
.tab button.active {
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
  border: 1px solid #06355f;
  color: #fff !important;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.img-fluid1 {
  height: 200px !important;
  width: 100%;
}
.btn-primary {
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
}
.layout {
  display: flex;
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
  padding: 20px;
  color: #fff;
}
.line-item {
  width: 25%;
  text-align: center;
  padding: 20px 10px;
}
h2.fs-38.primaryColor.fontBold {
  color: #fff;
}

.container {
  padding-left: 0;
  padding-right: 0;
}
.service-row {
  display: flex;
  flex-wrap: wrap;
}
/* .courseBox {
  display: flex;
  color: #fff;
  width: fit-content;
  padding: 10px 20px;
  text-align: left;
  font-size: 14px;
} */
.course1 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
span.head {
  font-size: 20px;
}
.Bannercol {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.bannerow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #06355f;
  font-weight: bold;
  margin-left: 15px;
  text-align: left;
}
.featurerow {
  display: flex;
  width: 45%;
}
nav a:hover {
  color: #fff;
}
.footer {
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%);
}
.footer a {
  color: #fff !important;
}

.iti.iti--allow-dropdown {
  width: 100%;
  padding-top: 1rem;
}

.iti__flag-container {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .input#mobile_code {
    padding: 0.4rem 3rem !important;
  }
}
.text-primary {
  color: #a82682 !important;
}
a.nav-link.text-gradient.active {
  background: linear-gradient(90deg, #901e78 0%, #06355f 100%) !important;
  color: #fff;
  -webkit-text-fill-color: unset;
}
